@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Poppins&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Merriweather", "Arial Narrow", Arial, sans-serif;
}

body {
  font-family: "Merriweather", "Arial Narrow", Arial, sans-serif;
}

nav.container {
  padding: 20px 50px;
  background-color: #807d6f;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar ul li a {
  font-weight: bolder;
  color: #e0dfd3;
  text-decoration: none;
}

.navbar ul li a:hover {
  color: #241914;
}

header {
  max-height: 30%;
  padding: 10%;
  color: black;
  display: flex;
  justify-content: space-around;
}

header h2 {
  margin-top: 20px;
  max-width: 60%;
}

header img {
  max-width: 200px;
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  header {
    align-items: center;
    flex-direction: column-reverse;
    gap: 30px;
  }
}
